.pointer {
  cursor: pointer;
}

.between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered-end {
  display: flex;
  justify-content: end;
  align-items: center;
}
